body {
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-x: hidden; /* deleting whitespace from right */
}
#wrapper {
    display: inline-block;
    width: 100%;
    /* border: 2px solid aqua; */
    background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../images/desktop.jpg);
    /* background-image: url(../images/desktop.jpg); */
    height: 650px;
    /* filter: brightness(.8); 
    filter: saturate(.6);    */
    
   
}

header{
    display: inline-block;
    /* border: 2px solid red; */
    margin-right: 10px;
    width: 250px;
}

header h2 {
    font-size: 1.4em;
    padding-left: 20%;
    color:#FFFFFF;
    font-family: "Merriweather Sans";
}


#navigation{
   
    display: inline-block;
    margin-right: 5%;
    /* border: 2px solid red; */
    float: right;
    
}

ul {
    
    list-style: none;
    display: inline-block;
} 


ul li{
    
    text-align: right;
    display: inline-block;
    padding: 2px;
    margin-right: 20px;;
    
}

ul li a{
    font-size: 1.1em;
    font-family: "Merriweather Sans";
    color:#FFFFFF;
    /* float: right; */
    text-decoration: none;
    display: inline-block;
    
}

#content {
    color: #FFFFFF;
    font-family:"Merriweather Sans" ;
    display: block;
    margin:70px auto;
    width: 55%;
    align-content: center;
    /* border: 2px solid red; */
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
}

#content button {
    margin: auto;
    width: 10em;
    height: 3.5em;
    border-radius: 10rem;
    background-color:#F4623A;

}

#content hr {
    background-color: #F4623A;
    width: 75px;
    height: 2px;
    filter: brightness(1);
    border-radius:10rem ;
}

#secont{
    color: #FFFFFF;
    font-family:"Merriweather Sans" ;
    display: block;
    margin-top: -50px;
    padding-top:100px;
    width: 100%;
    align-content: center;
    /* border: 2px solid red; */
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
    background-color: #F4623A ;
    padding-bottom: 50px;
   
}


#secont hr {
    background-color:#fff;
    width: 60px;
    height: 2px;
    filter: brightness(1);
    border-radius:10rem ;
}

#secont h2{
    padding-top: 2em;
    font-size: 2em;
}
#secont p{
    margin-bottom: 5px;
    width: 50%;
    margin: 0 auto;
    color: rgba(255,255,255,.5);
    
}

#secont button {
    margin:25px auto;
    width: 10em;
    height: 3.5em;
    border-radius: 10rem;
    background-color:#fff;
    font-weight: bold;

}

#services  {
    
    font-family:"Merriweather Sans" ;
    display:block;
    width: 100%;
    height: 400px;
    /* border: 2px solid red; */
    /* box-sizing: border-box; */
    font-size: 1.1em;
    line-height: 2em;
    background-color: #fff ;
    overflow: visible;
}

#services h2{
    padding-top: 2em;
    font-size: 32px;
    text-align: center;
    font-family:"Merriweather Sans" ;
    color: #343a40;
    display: block;
}
#services hr {
    display: block;
    background-color: #F4623A;
    width: 75px;
    height: 2px;
    filter: brightness(1);
    border-radius:10rem ;
}
#services ul{
    display: inline-block;
    margin:0 auto;
    width: 100%;
    
}

#services ul h4{
    font-size: 24px;
    color:  #343a40;

}

#services ul img{
    width: 100px;
    box-sizing: border-box;
}
#services ul li{
    text-align: center;
    width: 20%;
    display: inline-block;
    float: left;
    color:  #343a40;
    margin-top: 3em;;
    font-size:16px ;
    
}

#photos {
    width: 100%;
    background-color:#343A40;
    float: left;
    margin: 150px  0 40px 0;
    padding: 0 0 100px 0; 
    display: block;
    text-align: center;
}

#photos #links{
    padding: 0;
    margin: 0;
    align-content: center;
    float: left;
    
    margin-bottom: 2em;
    display: inline-block;


}
#links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}
#links ul li {
    margin: 0;
    padding: 0;
    width: calc(100% / 3) ;

}


#photos  #links img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


#photos h2{
    padding-top: 2em;
    font-size: 32px;
    text-align: center;
    font-family:"Merriweather Sans" ;
    color: #fff;
    display: block;
   
}

#photos button {
    
    width: 12em;
    height: 3.5em;
    border-radius: 10rem;
    background-color:#fff;
    font-weight: bold;
    
}

#touch {
    /* position: relative; */
    margin-top: 150px;
    display: block;
    width: 100%;
    /* border: 2px solid aqua; */
    background: #fff;
    height: 250px;
    text-align:center;
}

#touch h1{
    font-size: 32px;
    /* margin: auto; */
    color:#212529;
    font-family: "Merriweather Sans";
    text-align: center;
}

#touch p,a{
    margin:0  auto;
    font-size: 16px;
    width: 70%;
    padding: 25px;
    color: #6c757d;
}

#touch p:last-child{
    background-color: #6c757d;
    padding: auto 0 ;
    width: 100%;
}